/output
build.bat
.idea
/modules/repkg_dll
/modules/__pycache__
/modules/repkg_src/RePKG/bin
/modules/repkg_src/RePKG/obj
/modules/repkg_src/RePKG.Application/bin
/modules/repkg_src/RePKG.Application/obj
/modules/repkg_src/RePKG.Core/bin
/modules/repkg_src/RePKG.Core/obj
/modules/repkg_src/RePKG.Tests/obj